{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}
{% block content %}
    <section id="content">
        <article>
            <header class="page-header">
                <h1>
                    <a href="{{ SITEURL }}/{{ article.url }}"
                       rel="bookmark"
                       title="Permalink to {{ article.title }}">
                        {{ article.title }}
                    </a>
                </h1>
            </header>
            <div class="entry-content">
                <div class="panel">
                    <div class="panel-body">
                        {% include "includes/article_info.html" %}
                    </div>
                </div>
                {% if article.toc %}
                {{ article.toc }}
                {% endif %}
                {{ article.content }}
            </div>
            <!-- /.entry-content -->
            {% include 'includes/addthis.html' %}
            {% include 'includes/comments.html' %}
        </article>
    </section>

{% endblock %}
