{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block content %}
    <section id="content" class="body">
        <h1 class="entry-title">{{ page.title }}</h1>
        {% if PDF_PROCESSOR %}
            <a href="{{ SITEURL }}/pdf/{{ page.slug }}.pdf">
                get the pdf
            </a>
        {% endif %}
        {% if page.toc %}
            {{ page.toc }}
        {% endif %}
        <div class="entry-content">
            {{ page.content }}
        </div>
    </section>
{% endblock %}
