<aside>
    <section>
        <ul class="list-group list-group-flush">
            {% if DISPLAY_PAGES_ON_MENU %}
            {% for p in PAGES %}
            <li{% if p == page %} class="list-group-item active"{% else %} class="list-group-item"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}"><strong>{{ p.title }}</strong> {{ p.summary }}</a></li>
            {% endfor %}
            {% endif %}

            {# Uncomment if you want to show Categories #}

            {#    <li class="list-group-item"><h4><i class="icon-home icon-large"></i>Categories</h4></li>#}
            {#    {% for cat, null in categories %}#}
            {#        <li class="list-group-item">#}
            {#            <a href="{{ SITEURL }}/{{ cat.url }}">#}
            {#                <i class="icon-folder-open icon-large"></i>{{ cat }}#}
            {#            </a>#}
            {#        </li>#}
            {#    {% endfor %}#}

            {#
            <li class="list-group-item"><a href="{{ SITEURL }}/tags.html"><h4><i class="icon-tags icon-large"></i>Tags</h4></a></li>
            {% for tag in tag_cloud|sort(attribute='1') %}
                <li class="list-group-item tag-{{ tag.1 }}">
                    <a href="{{ SITEURL }}/{{ tag.0.url }}">
                        {{ tag.0 }}
                    </a>
                </li>
            {% endfor %}
            #}
        </ul>
    </section>
    {% include 'includes/github.html' %}
</aside>
